
<div class="example-container device-bg-color">
  <mat-form-field>

    <button mat-button matPrefix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input matInput placeholder="Search" class="form-control " id="search-text" aria-describedby="search-text" #tbName type="text" [matAutocomplete]="auto" [formControl]="myControl"
           [(ngModel)]="searchText"
           autofocus>
    <span matSuffix (click)="clearInput(tbName)">Cancel</span>

    <mat-autocomplete #auto="matAutocomplete">
      <!--<mat-option *ngFor="let option of filteredOptions  | async" [value]="option.deviceName" (onSelectionChange)="onSelectState(option.deviceName)">-->
      <mat-option *ngFor="let option of filteredOptions  | async" [value]="option.deviceName">
        {{option.deviceName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<table class='table device-table' aria-labelledby="tableLabel" *ngIf="devices">
  <tbody>
    <tr *ngFor="let device of devices | appFilter: searchText">
      <td class="device-td" style="vertical-align: middle; text-align: center !important;">
        <a [routerLink]="['/details',device.deviceID]">
          <img src="assets/images/{{device.deviceImageName}}" />
        </a>
      </td>
      <td class="device-td">
        {{ device.deviceName }}<br />{{displayStatus(device.devicesStatus)}}
      </td>
      <td class="device-td td-image" style="vertical-align: middle; text-align: center !important;">
        <a [routerLink]="['/details',device.deviceID]">
          <img src="assets/images/info.png" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
